.Banner {
    background-image: url("../Imagens/backgroundSiteMobile.jpg");
    height: 80vh;
    color: #FFF;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Banner h1 {
    font-size: 10vw;
}

@media (width >= 600px) {
    .Banner {
        background-image: url("../Imagens/backgroundSite.jpg");
        height: 50vw;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .Banner h1 {
        font-size: 6vw;
    }
}