* {
    margin: 0;
    padding: 0;
}

section {
    margin: 5%;
}

h1, h2 {
    text-align: center;
}

#descricao h1 {
    font-size: 2em;
}

.descricao {
    margin: 5%;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.grid .coluna {
    border: 1px solid #4c94e1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.imagens img{
    width: 100%;
    margin-top: 5%;
}

.gridElementos {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.gridElementos .elementos {
    margin: 10px;
    padding: 20px;
    background: linear-gradient(#4c94e1, #030454);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    
}

#regras p{
    margin-top: 3%;
}