.menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 3%;
    font-size: 1.3em;
    z-index: 2;
}

.nav {
    background-color: #030454;
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10% 1%;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: disc;
    padding-left: 16px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #FFF;
}

.nav ul a:hover {
    cursor: pointer;
    text-shadow: 1px 1px 10px #85b6eb;
}

.mostrar { 
    display: flex;
}

@media (width >= 600px) {
    .menu {
        display: none;
    }

    .nav {
        display: flex;
        background-color: transparent;
        padding: 0;
        position: fixed;
        z-index: 999;
    }

    .nav ul {
        flex-direction: row;
        position: absolute;
        right: 0;
        top: 0;
        padding: 3%;
    }

    .nav ul li a:hover {
        color: #4c94e1;
    }
}