.personagensGrid .personagensColuna {
    border: 1px solid #4c94e1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.imagens img{
    width: 100%;
    margin-top: 5%;
}

@media (width >= 758px) {
    
    .personagensGrid {
        display: flex;
        justify-content: space-between;
    }

    .personagensGrid .personagensColuna {
        width: 100%;
    }
}