.audios {
    padding-top: 5%;
}

.selecionaAudio {
    width: 100%;
    padding: 5% 0;
}

audio {
    width: 100%;
}

.selecionaAudio p {
    text-align: center;
    padding: 3% 0;
}

@media (width > 1024px) {
    .audios {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }

    .selecionaAudio {
        margin: 2%;
    }

    .selecionaAudio p {
        white-space: nowrap;
    }
}
  